// ----BUTTONS----
button {
  font-size: 0.9rem;
  border: none;
  letter-spacing: 1px;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  width: fit-content;
  font-family: "Nexa-Bold";
}

.accentButton {
  background-color: var(--very-dark-blue);
  color: var(--white);
}

.filledButton {
  background-color: var(--dodger-blue);
  color: var(--white);
  border-radius: 0.25rem;
}

.linkButton {
  background-color: var(--white);
  color: var(--dark-blue);
  border: 1px solid var(--very-dark-blue);
  border-radius: 5px;
}
